<a href="https://colab.research.google.com/github/Estherbae1/Esther_INSE_6220_Project/blob/main/Esther.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd

In [3]:
df = pd.read_csv('muse_dataset.csv')
df.head(10)

,id,track,artist,valence_tags,arousal_tags,dominance_tags,mbid,spotify_id
0,0,'Till I Collapse,Eminem,4.550000,5.273125,5.690625,cab93def-26c5-4fb0-bedd-26ec4c1619e1,4xkOaSrkexMciUUogZKVTS
1,1,St. Anger,Metallica,3.710000,5.833000,5.427250,727a2529-7ee8-4860-aef6-7959884895cb,3fOc9x06lKJBhz435mInlH
2,2,Speedin',Rick Ross,3.080000,5.870000,5.490000,NaN,3Y96xd4Ce0J47dcalLrEC8
3,3,Bamboo Banga,M.I.A.,6.555071,5.537214,5.691357,99dd2c8c-e7c1-413e-8ea4-4497a00ffa18,6tqFC1DIOphJkCwrjVzPmg
4,4,Die MF Die,Dope,3.771176,5.348235,5.441765,b9eb3484-5e0e-4690-ab5a-ca91937032a5,5bU4KX47KqtDKKaLM4QCzh
5,5,Step Up,Drowning Pool,2.971389,5.537500,4.726389,49e7b4d2-3772-4301-ba25-3cc46ceb342e,4Q1w4Ryyi8KNxxaFlOQClK
6,6,Feedback,Kanye West,3.080000,5.870000,5.490000,NaN,49fT6owWuknekShh9utsjv
7,7,7 Words,Deftones,3.807121,5.473939,4.729091,1a826083-5585-445f-a708-415dc90aa050,6DoXuH326aAYEN8CnlLmhP
8,8,Limp,Fiona Apple,3.737211,5.610204,4.626735,4435982c-b83e-4daa-af2b-9f3430036bb7,104YdibC7VQy78xAVmgRYr
9,9,Sweet Amber,Metallica,3.582759,5.757241,5.340000,fe1cc051-faa7-4953-b331-f6196cd3ddae,5fU6qjmD38P90BMsuqpiuU